body.header_sticked .header_block{
    height: 65px;
}
body.header_sticked .header_block .small_header{
    height: 0px;
}
body.header_sticked  .fixed-header_block{
    height: 65px;
}
.module_navigation{
    height: 65px;
    box-sizing: border-box;
    width: 100%;
    background-color: white;
}

.module_navigation nav .button-collapse{
    margin-right: 15px;
    padding: 0px 15px;
}

.module_navigation nav{
    box-shadow: none;
    height: 100% !important;
}

.module_navigation nav .button-collapse{
    height: 100%;
}

.module_navigation nav .button-collapse > i.fa.fa-bars{
    line-height: 65px;
}

.module_navigation nav .mobile-logo{
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    background-image: url("/includes/assets/images/logo1.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.module_navigation .logo{
    width: 300px;
    height: 100%;
    box-sizing: border-box;
    background-image: url("/includes/assets/images/logo1.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position:5px center;
    /*background-size: contain;*/
    float: left;
}

.module_navigation .navigation{
    width: calc(100% - 300px);
    height: 100%;
    box-sizing: border-box;
    float: right;
}