@media only screen and (max-width : 600px) {
    .module_search{
        height: auto !important;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }
    .module_search .top {
        width: 100% !important;
        border-radius: 0 !important;
    }
    .module_search .search_form {
        height: auto !important;
    }

    .module_search .search_form .select_form{
        height: auto !important;
        border-radius: 0 !important;
    }
    .module_search .search_form .submit_form{
        margin-top: 20px;
        height: 50px !important;
        line-height: 50px !important;
        border-radius: 3px !important;
    }
}

.module_search{
    height: 180px;
    box-sizing: border-box;
    margin-top: -270px;
    position: relative;
    z-index:9999;
}

.module_search .top {
    width: auto;
    height: 40px;
    box-sizing: border-box;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    text-align: center;
    line-height: 40px;
    width: 250px;
    color: white;
}

.module_search .search_form {
    width: 100%;
    height: 160px;
    background-color: white;
    border-radius: 3px;
    border-top-left-radius: 0px;
}

.module_search .search_form .select_form{
    box-sizing: border-box;
    height: 160px;
    border-bottom-left-radius: 3px;
}
.module_search .search_form .submit_form{
    box-sizing: border-box;
    background-color: #F0F0F0;
    transition: background-color .6s;
    color: #59A0DA;
    text-align: center;
    line-height: 160px;
    font-size: 250%;
    font-weight: 500;
    cursor: pointer;
    height: 160px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.module_search .search_form .submit_form:hover {
    background-color: #59A0DA;
    color: white;
}

.module_search .select-wrapper .select-dropdown:not(.active) {
    border: 1px solid #9e9e9e;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 7px;
}

.module_search .caret {
    display: none;
}