.module_rents
{
    width: 100%;
    box-sizing: border-box;
    margin: 5px 0px;
}

.module_rents .title{
    padding-left: 15px;
    color:#464646;
}

.module_rents .container {
    width: 95%;
    box-sizing: border-box;
    margin: 25px auto;
    max-width: 1140px;
}

.module_rents  .card-content{
    height: 250px;
    padding: 8px;
    word-break: normal;
}

.module_rents .card-content .tab_content{
    word-break: normal;
    height: 170px;
    overflow: hidden;
    color: #464646;
}
.module_rents .card .card-action i{
    cursor: pointer;
}



.module_rents .card-content .tabs .indicator{
    background-color: #64B5F6;
}

.module_rents .card-content .tab_content .chip{
    margin: 5px 2px;
}

.module_rents .card-content .tab_content .badge{
    position: static;
    margin-left: 9px;
}
.module_rents .card-content .tab_content .badge:after{
    display: none;
}

.module_rents .card-content .tab_content .map{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    background-size: 145%;
    background-position: center;
    background-repeat: no-repeat;
}
