.header_block{
    width: 100%;
    height: 105px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 2px 10px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 2px 10px -3px rgba(0,0,0,0.75);
    box-shadow: 0 2px 10px -3px rgba(0,0,0,0.75);
    z-index: 99999;
    position: fixed;
    transition: height .6s;
}

.header_block  .small_header{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    background-color: #F0F0F0;
    transition: height .6s;
    overflow: hidden;
}

.modals_block{

}

.fixed-header_block{
    transition: height .6s;
    height: 105px;
}

.main_block{

}

.footer_block{

}
