    <div class="module_socialShare">
        <i class="fa fa-facebook"></i>&nbsp;&nbsp;
        <i class="fa fa-twitter"></i>&nbsp;&nbsp;
        <i class="fa fa-google-plus"></i>&nbsp;&nbsp;
        <i class="fa fa-instagram"></i>&nbsp;&nbsp;
        <i class="fa fa-pinterest"></i>
    </div>
</div>