.module_footer{
    width: 100%;
    height: auto;
    float: left;
    box-sizing: border-box;
}
.module_footer .page-footer{
    background-image: url("/includes/assets/images/footer.jpg");
    background-position: center;
    background-size: cover;
}
.module_footer .sub_footer{
    background-color: #323840 !important;
}
.module_footer footer .footer-copyright{
    height: 65px;
    line-height: 65px;
    background-color: rgba(255,255,255,0.3) !important;
}