.module_socialShare{
    width: 190px;
    height: 100%;
    float: right;
    box-sizing: border-box;
    color: #99A3B1;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}
.module_socialShare i {
    transition: color .6s;
    cursor: pointer;
    padding: 2px;
}
.module_socialShare .fa-facebook:hover{
    color: #3A5795;
}
.module_socialShare .fa-twitter:hover{
    color: #41ABE1;
}
.module_socialShare .fa-google-plus:hover{
    color: #EA4335;
}
.module_socialShare .fa-instagram:hover{
    color: #125688;
}
.module_socialShare .fa-pinterest:hover{
    color: #BD2126;
}
.module_socialShare .fa-envelope:hover{
    color: #FBBC05;
}