.module_full_search {
    position: relative;
    width: 100%;
    height: auto;
}


.module_full_search .map {
    /*background-image: url("/includes/assets/uploads/map/6fc5a5aa51914b858062ddc3ec1e89b1.png");*/
    background-repeat: no-repeat;
    background-size: cover;
}

.module_full_search .search{
    float: right;
    padding: 0px;
}

.module_full_search .search_form_full_f_form .select-dropdown:not(.active) {
    border: 1px solid #9e9e9e;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 7px;
}


.module_full_search .search_form_full_f_form .select-dropdown {
    border:none;
    box-sizing: border-box;
}




.module_full_search .search_form_full_f_form {
    border-bottom:2px solid #F0F0F0;
    padding: 17px 17px;
}
.module_full_search .search_form_full_f_form  .caret {
    display: none;
}

.module_full_search .search .items  .card-content{
    height: 250px;
    padding: 8px;
    word-break: normal;
}

.module_full_search .search .items .card-content .tab_content{
    word-break: normal;
    height: 170px;
    overflow: hidden;
    color: #464646;
}
.module_full_search .search .items .card .card-action i{
    cursor: pointer;
}



.module_full_search .search .items .card-content .tabs .indicator{
    background-color: #64B5F6;
}

.module_full_search .search .items .card-content .tab_content .chip{
    margin: 5px 2px;
}

.module_full_search .search .items .card-content .tab_content .badge{
    position: static;
    margin-left: 9px;
}
.module_full_search .search .items .card-content .tab_content .badge:after{
    display: none;
}





