html,body{
    max-width: 3000px;
    /*min-width: 870px;*/
    margin: 0;
    padding: 0;
}
body img {
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none; user-select: none;
}


.error{
    border-color: #b0040e !important;
}

