@media only screen and (max-width : 600px) {
    .slider_block{
        height: auto !important;
    }
}
.module_slide{
    width: 100%;
    height: 700px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.module_slide .slider .slides{
    background-color: transparent;
}
.module_slide .slide-button{
    width: 70px;
    height: 70px;
    position: absolute;
    font-size: 60px;
    border-radius: 50%;
    top: 50%;
    margin-top: -35px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 999;
    opacity: 0.6;
    color: #ffffff;
    line-height: 70px;
    text-align: center;
}
.module_slide .slide-prev{
    float: left;
    left: 30px;
}
.module_slide .slide-next{
    float: right;
    right: 30px;
}
.module_slide .slide-button:hover{
    color: rgba(0,0,0,0.9);
    cursor: pointer;
}

.module_slide .indicators .indicator-item.active {
    background-color: #64B5F6;
}