.module_headerContacts{
    width: calc(100% - 190px);
    height: 100%;
    float: left;
    box-sizing: border-box;
    color: #99A3B1;
    font-size: 13px;
    padding: 0px;
}

.module_headerContacts .phone{
    max-width: 150px;
}

@media only screen and (min-width : 1025px) {
    .module_headerContacts {
        line-height: 40px;
        padding: 0px 45px !important;
    }
}